<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangjt.admin.mapper.Dat the sourceMapper">
	<resultMap id="result" type="java.util.HashMap">
	</resultMap>
	<resultMap id="dataSourceMap" type="com.fangjt.admin.entity.DataSource">
	</resultMap>
</mapper>